// | COLORS |

$color__1: #9164FA;
$color__2: #8257E5;

$white: #FFFFFF;

$gray__1: #F3F3F4;
$gray__2: #E7E7E9;
$gray__3: #AFB2B1;

$black__1: #26252A;
$black__2: #201F24;

$blue: #1766FF;
$green: #7FBA7A;
$yellow: #FFCE73;
$red: #E87176;