
// | SCROLLS |

// Barra de scroll do browser. 
// Tem diferença entre browsers.
// É possivél personalizar barras diferentes para os elementos.
* {
    // Firefox.
    scrollbar-width: auto;  // values: auto, thin ou none.
    scrollbar-color: var(--gray__2) transparent;
    
    // Chrome, Edge e Safari .
    &::-webkit-scrollbar { // BAR.
        width: 0.938rem;
    }
    
    &::-webkit-scrollbar-thumb { // BAR ALÇA.
        background-color: var(--gray__2);
    }
    
    &::-webkit-scrollbar-track { // BAR FUNDO.
        background-color: transparent;
    }
}

// | CONTAINERS |

// Usados para manter um padrão de largura.
.container__, .container__fluid,
.container__xxl, .container__xl,
.container__lg, .container__md, .container__sm {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.938rem;
    padding-left: 0.938rem;
    // padding-right: var(--bs-gutter-x, 0.75rem);
    // padding-left: var(--bs-gutter-x, 0.75rem);
}

@media (min-width: 576px) {
    .container__sm,
    .container__ {
        max-width: 33.75rem; //540px
    }
}

@media (min-width: 768px) {
    .container__md, .container__sm,
    .container__ {
        max-width: 45rem; //720px
    }
}

@media (min-width: 992px) {
    .container__lg, .container__md, .container__sm,
    .container__ {
        max-width: 60rem; //960px
    }
}

@media (min-width: 1200px) {
    .container__xl, .container__lg,
    .container__md, .container__sm,
    .container__ {
        max-width: 71.25rem; //1140px
    }
}

@media (min-width: 1400px) {
    .container__xxl, .container__xl,
    .container__lg, .container__md, .container__sm,
    .container__ {
        max-width: 82.5rem; //1320px
    }
}

// | TYPOGRAPHYS |

h6, .h6__, h5, .h5__,
h4, .h4__, h3, .h3__,
h2, .h2__, h1, .h1__,
p, span, 
input, textarea,
.text__ {
    margin: 0 0 0.5rem 0;

    font-weight: 400;
    color: var(--black__1);
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: none;
    text-align: start;
}

h1, .h1__ {
    font-size: calc(1.375rem + 1.5vw);
}

h2, .h2__ {
    font-size: calc(1.325rem + 0.9vw);
}

h3, .h3__ {
    font-size: calc(1.3rem + 0.6vw);
}

h4, .h4__ {
    font-size: calc(1.275rem + 0.3vw);
}

h5, .h5__ {
    font-size: 1.25rem;
}

h6, .h6__ {
    font-size: 1rem;
}

p, span, input, textarea,
.text__ {
    margin: 0;
    font-size: 1rem;
}

@media (min-width: 1200px) {
    h1, .h1__ {
        font-size: 2.5rem;
    }

    h2, .h2__ {
        font-size: 2rem;
    }

    h3, .h3__ {
        font-size: 1.75rem;
    }

    h4, .h4__ {
        font-size: 1.5rem;
    }
}

// | LINKS |
// Pseudo-class para links devem seguir a regra LVHA
// Link - Visited - Hover - Active.
.link__,
.link__:link {
    width: fit-content;
    height: auto;
    margin: 0.3rem;
    padding: 0.3rem 0.7rem;
    border-radius: 0.50rem;
    background-color: var(--gray__2);
    
    font-style: normal;
    font-size: 0.8rem;
    color: var(--black__1);
    text-decoration: none;
    outline: none;

    @include transition__(
        $duration: 1s, 
        $delay: 0s,
        $property: filter,
        $function: ease
    );

    &:visited, // Quando o link for visitado.
    &:hover { // Quando o link recebe o mouse.
        filter: brightness(0.9);

        font-weight: bold;
        color: var(--black__1);
    }

    &:active { // Quando o link é clicado.
        background-color: var(--color__1);
        color: var(--white);
    }
}
