
@font-face {
    font-family: '';
    src: url('') format('');
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-display: auto; 
    font-stretch: normal; 
    font-synthesis: none; 
    font-kerning: auto;
}