// | SCROLLS |

// Barra de scroll do browser. 
// Tem diferença entre browsers.
// É possivél personalizar barras diferentes para os elementos.
* {
    // Firefox.
    scrollbar-width: auto;  // values: auto, thin ou none.
    scrollbar-color: $gray__2 transparent;
    
    // Chrome, Edge e Safari .
    &::-webkit-scrollbar { // BAR.
        width: 0.938rem;
    }
    
    &::-webkit-scrollbar-thumb { // BAR ALÇA.
        background-color: $gray__2;
    }
    
    &::-webkit-scrollbar-track { // BAR FUNDO.
        background-color: transparent;
    }
}

