// | VARIABLES |

// MEDIAS
$mq__1440: 1440px;
$mq__1400: 1400px;
$mq__1200: 1200px;
$mq__1024: 1024px;
$mq__992: 992px;
$mq__768: 768px;
$mq__576: 576px;
$mq__425: 425px;
$mq__375: 375px;
$mq__320: 320px;