// | BUTTONS |

.button__ {
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 1.25rem;
    background-color: $color__snow;
    outline: none;
    text-decoration: none;
    font-family: $font__text;
    font-size: 0.875rem;

    @include font__format($weight: 500, $color: $color__black, $lineH: 1.25rem, $textA: center);
    @include transition__($duration: 200ms, $property: color);
    @include flex__combo;

    .icon__ {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 0.7rem;
    }

    &:hover, &:focus { // Quando recebe foco ou o mouse passa pelo elemento.
        background-color: $color__grey;

        .icon__ {
            background-color: $color__pri;
        }
    }

    &:active { // Quando é clicado.
        background-color: $color__pri;
        color: $color__white;

        .icon__ {
            background-color: $color__white;
        }
    }
}

.button__full {
    width: 100%;
}

.button__small {
    padding: 0.6rem 1.5rem;
}