// | BUTTONS |

button,
.button__ {
    cursor: pointer;
    display: inline-block;

    width: fit-content;
    height: auto;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 1.25rem;
    background-color: $gray__1;
    
    // font-family: ;
    font-size: 0.875rem;
    text-decoration: none;
    outline: none;

    @include font__format($weight: 500, $color: $black__1, $lineH: 1.25rem, $textA: center);
    @include transition__($duration: 200ms, $property: color);
    @include flex__combo;

    .icon__ {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 0.7rem;
    }

    &:hover, &:focus { // Quando recebe foco ou o mouse passa pelo elemento.
        background-color: $gray__2;

        .icon__ {
            background-color: $color__1;
        }
    }

    &:active { // Quando é clicado.
        background-color: $color__1;
        color: $white;

        .icon__ {
            background-color: $white;
        }
    }
}

.button__full {
    width: 100%;
}

.button__small {
    padding: 0.6rem 1.5rem;
}