// | FONTS |

// Importando arquivo de fonte localmente.
// Faz algumas formatações direto na fonte.
@font-face {
    @include font__(
        $family: 'Anton-Regular',
        $caminho: url('../fonts/Anton-Regular.ttf'),
        $style: normal,
        $display: auto,
        $stretch: normal,
        $synthesis: none,
        $kerning: auto,
        $variant: normal
    );
}

@font-face {
    @include font__(
        $family: 'Poppins-Regular',
        $caminho: url('../fonts/Poppins-Regular.ttf'),
        $style: normal,
        $display: auto,
        $stretch: normal,
        $synthesis: none,
        $kerning: auto,
        $variant: normal
    );
}

@font-face {
    @include font__(
        $family: 'Poppins-Light',
        $caminho: url('../fonts/Poppins-Light.ttf'),
        $style: normal,
        $display: auto,
        $stretch: normal,
        $synthesis: none,
        $kerning: auto,
        $variant: normal
    );
}
