// | LINKS |

.link__ {
    width: fit-content;
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: $color__snow;
    outline: none;
    text-decoration: none;
    font-style: normal;
    font-size: 0.8rem;
    color: $color__blue;
}