// | LINKS |

// Pseudo-class para links devem seguir a regra LVHA (Link - Visited - Hover - Active).
// a, a:link,
.link__,
.link__:link {
    width: fit-content;
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: $gray__1;
    
    // font-family: ;
    font-style: normal;
    font-size: 0.8rem;
    color: $gray__3;
    text-decoration: none;
    outline: none;

    &:visited { // Quando o link for visitado.
        color: $black__1;
    }

    &:hover, &:focus { // Quando o link recebe o mouse.
        background-color: $color__2;
        color: $black__1;
    }

    &:active { // Quando o link é clicado.
        background-color: $color__1;
        color: $white;
    }
}