// | TYPOGRAPHYS |

// Formatação padrão dos títulos.
h6, .h6__, h5, .h5__,
h4, .h4__, h3, .h3__,
h2, .h2__, h1, .h1__ {
    margin: 0 0 0.5rem 0;
    font-family: $font__title;

    @include font__format(
        $weight: 400,
        $color: $color__black,
        $lineH: 1.2,
        $letterS: normal,
        $textT: none,
        $textA: start
    );
}

h1, .h1__ {
    font-size: calc(1.375rem + 1.5vw);
}

h2, .h2__ {
    font-size: calc(1.325rem + 0.9vw);
}

h3, .h3__ {
    font-size: calc(1.3rem + 0.6vw);
}

h4, .h4__ {
    font-size: calc(1.275rem + 0.3vw);
}

h5, .h5__ {
    font-size: 1.25rem;
}

h6, .h6__ {
    font-size: 1rem;
}

//  MEDIA QUERIES

@media (min-width: 1200px) {
    h1, .h1__ {
        font-size: 2.5rem;
    }

    h2, .h2__ {
        font-size: 2rem;
    }

    h3, .h3__ {
        font-size: 1.75rem;
    }

    h4, .h4__ {
        font-size: 1.5rem;
    }
}

// Formatação apra textos comuns
.text__,
.text__small {
    margin: 0;
    font-family: $font__text;
    font-size: 1rem;

    @include font__format(
        $weight: 400,
        $color: $color__black,
        $lineH: 1.2,
        $letterS: normal,
        $textT: none,
        $textA: start
    );
}

.text__small {
    font-family: $font__text__small;
    font-weight: 300;
    font-size: 0.8rem;
}

p,
p.text__,
p.text__small {
    margin-bottom: 0.5rem;
}