// | VARIABLES |

// COLORS
$color__pri: #1766FF;
$color__sec: #0077FF;

$color__white: #FFFFFF;
$color__snow: #F3F3F4;
$color__grey: #E7E7E9;
$color__black: #0B090C;
$color__blue: #1766FF;
$color__green: #7FBA7A;
$color__yellow: #FFCE73;
$color__red: #E87176;

// FONTS

$font__title: 'Anton-Regular';
$font__text: 'Poppins-Regular';
$font__text__small: 'Poppins-Light';